.box{
    border: 2px solid black;
    margin: 50px auto;
    height: 200px;
    width: 500px;
    padding: 10px;

}

span {
display: flex;
align-items: center;
justify-content: space-between;
}

#addLikes, #addLikes2, #addLikes3 {
    background-color: #FFD966;
    box-shadow: 2px 2px 2px black;
    padding: 2px 15px;
}